        :root {
            color-scheme: light dark;
        }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
}

h1 {
    text-align: none;
}
p {
    color: #ddd;
}
a {
    text-decoration: none;
    color: #f8a025;
}
h2 {
    color: #f8a025;
    text-decoration: none;
}
.post {
    padding: 10px;
}

.post img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-header, #f8a025);
    color: white;
    position: relative;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background: #202020;
}
#posts-container {
}
.post-date {
    font-size: 0.9rem; /* Tamanho menor para diferenciar da fonte principal */
    color: gray; /* Cor cinza para um destaque sutil */
    font-style: italic; /* Estilo itálico para diferenciar do texto comum */
    margin-bottom: 10px; /* Espaçamento abaixo da data */
    display: block; /* Garante que a data fique em uma linha separada */
    text-align: left; /* Alinha a data à esquerda */
}
#post-container img {
    width: 100%; /* Faz a imagem ocupar toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
    margin-top: 15px; /* Espaçamento acima da imagem */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar a imagem */
}