body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
  }
  
  @media (prefers-color-scheme: light) {
    body {
      background-color: #ffffff;
      color: #000000;
    }
  
    .login-box {
      background-color: #f2f2f2;
    }
  
    .google-btn {
      background-color: #ffffff;
      color: #000000;
    }
  
    .google-btn:hover {
      background-color: #eaeaea;
    }
  }
  
  .login-box {
    background-color: #1e1e1e;
    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 95vw;
    max-width: 500px;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  .login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f8a025;
  }
  
  .login-box input {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .login-box button {
    width: 60%;
    padding: 12px;
    margin-top: 10px;
    background-color: #f8a025;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .login-box button:hover {
    background-color: #e58900;
  }
  
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
  }
  
  .google-btn:hover {
    background-color: #f1f1f1;
  }
  
  .google-icon {
    width: 20px;
    height: 20px;
  }
  .login-box button.redefinir-btn {
    background: transparent;
    color: #f8a025;
    border: none;
    margin-top: 5px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .login-box button.redefinir-btn:hover {
    color: #e58900;
  }
  #infoUsuario {

    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  #infoUsuario p {
    margin: 5px 0;
    font-size: 15px;
  }
  
  #infoUsuario img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
    object-fit: cover;
    border: 2px solid #f8a025;
  }
    
  